* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #444;
  background-color: #f3f3f3;
  height: 100vh;
  padding: 1rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  height: 10vh;
  transition: all 1s;
}

.welcome {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 3rem;
  font-weight: 500;
  margin-top: 10rem;
  text-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
}

.login {
  display: flex;
  margin-top: 5rem;
}

.login__input {
  border: none;
  padding: 0.5rem 2rem;
  font-size: 1.6rem;
  font-family: inherit;
  text-align: center;
  width: 25rem;
  border-radius: 10rem;
  margin-right: 1rem;
  color: inherit;
  border: 1px solid #fff;
  transition: all 0.3s;
  z-index: 1;
}

.login__input:focus {
  outline: none;
  border: 1px solid #ccc;
}

.login__input::placeholder {
  color: #bbb;
}

.login__btn {
  border: none;
  background: none;
  font-size: 2.2rem;
  color: inherit;
  cursor: pointer;
  transition: all 0.3s;
}

.login__btn:hover,
.login__btn:focus {
  outline: none;
  color: #777;
}

/* MAIN */
.app {
  max-width: 100rem;
  margin: 6rem auto;
  display: grid;
  grid-template-rows: repeat(auto, 10rem);
  gap: 2rem;
  font-size: 1.5rem;
  transition: all 1s;
}

/* Header */

.header {
  grid-row-start: 7;
  grid-row-end: 8;
  margin-bottom: 2rem;
}

.header__label {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: -0.2rem;
}

.header__date {
  color: #888;
}

/* FACTS */

.foxTextTitle {
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: 2rem;
  font-weight: 400;
  line-height: 200%;
}

.foxText {
  grid-row-start: 2;
  grid-row-end: 4;
  line-height: 150%;

}

/* IMAGE */

.image {
  grid-row: 3 / span 4;
  max-width: 100%;
  max-height: 100%;
  width: fit-content;
  height: fit-content;
  border-radius: 1.5rem;
  overflow: hidden;
}


/* REMIX BUTTON */

.btn--remix {
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  grid-row-start: 8;
  background-image: linear-gradient(to top left, #ff6403, #faad32);
  font-family: inherit;
  border: none;
  padding: 1.25rem 3.3rem;
  border-radius: 10rem;
  width: 18rem;
  cursor: pointer;
}

.btn--remix:hover {
  background-image: linear-gradient(to top left, #ff8e03, #faad32);
}

.hidden {
  display: none;
}

.footer {
  display: flex;
  justify-content: center;
  align-content: center;
  grid-row-start: 9;
}
