* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #444;
  background-color: #f3f3f3;
  height: 70vh;
  padding: 1rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  height: 10vh;
  /* after log in*/
  opacity: 1;
  transition: all 1s;
}

.welcome {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 3rem;
  font-weight: 500;
  margin-top: 10rem;
  text-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
}

.logo {
  position: absolute;
  height: 11rem;
  margin-left: 26rem;
  opacity: 0.7;
}

.login {
  display: flex;
  margin-top: 5rem;
}

.login__input {
  border: none;
  padding: 0.5rem 2rem;
  font-size: 1.6rem;
  font-family: inherit;
  text-align: center;
  width: 25rem;
  border-radius: 10rem;
  margin-right: 1rem;
  color: inherit;
  border: 1px solid #fff;
  transition: all 0.3s;
}

.login__input:focus {
  outline: none;
  border: 1px solid #ccc;
}

.login__input::placeholder {
  color: #bbb;
}

.login__btn {
  border: none;
  background: none;
  font-size: 2.2rem;
  color: inherit;
  cursor: pointer;
  transition: all 0.3s;
}

.login__btn:hover,
.login__btn:focus {
  outline: none;
  color: #777;
}

/* MAIN */
.app {
  position: relative;
  max-width: 100rem;
  margin: 6rem auto;
  display: grid;
  grid-template-rows: auto repeat(3, 10rem) auto;
  gap: 2rem;
  /* NOTE This creates the fade in/out animation */
  opacity: 0;
  transition: all 1s;
}

/* Header */

.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.header__label {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: -0.2rem;
}

.header__date {
  font-size: 1.5rem;
  color: #888;
}

/* FACTS */

.foxTextTitle {
  position: relative;
  top: -1rem;
  font-size: 2rem;
  font-weight: 400;
  opacity: 1;
  color: #595959;
}

.foxText {
  position: relative;
  grid-row: 2 / span 2;
  font-size: 1.5rem;
  opacity: 1;
  text-align: justify;
  color: #5c5c5c;
}

/* IMAGE */

.image {
  grid-row: 2 / span 6;

  width: fit-content;
  height: fit-content;
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
}

.footer {
  display: flex;
  justify-content: center;
  align-content: center;
  bottom: 1rem;
  color: #444;
  font-size: 1.5rem;
  align-items: left;
}

/* REMIX BUTTON */

.btn--remix {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  background-image: linear-gradient(to top left, #ff6403, #faad32);
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 500;
  border: none;
  padding: 1.25rem 3.8rem;
  border-radius: 10rem;
  cursor: pointer;
}

.btn--remix:hover {
  padding: 1.5rem 3.8rem;
}
